/* GENERAL */
:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #7cf03d;
    --white-color:#fff;
    --disabled-COLOR:#FFF3;
}
body {
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
}
section {
    padding: 65px 0 80px 0;
}
section .heading {
    text-align: center;
    padding-bottom: 40px;
}
section .heading h2{
    text-transform: uppercase;
}
.divider {
    width: 100px;
    height: 2px;
    background-color: #FADF94;
    margin: 0 auto 20px;   
}
.divider.white {
    background-color: white;
}
ul {
    list-style: none;
}

/* NAVBAR */
.navbar {
    background-color: #FADF94;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 1px solid white;
}
.navbar-nav {
    margin: 0 auto;
    text-align: center;
}
.nav-link {
    color: white !important;
    margin: 0 6px;
}
.nav-link.active,
.nav-link:hover {
    background-color: white;
    color: #FADF94 !important;
}


/* ABOUT */
#about {
    background-color: #FADF94;
}
.profile-picture {
    text-align: center;
    margin: 0px auto 30px;
}
#about .heading h1 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.button1 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 18px 50px;
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 20px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover {
    background: white;
    color: #FADF94;
}

/* SKILLS */
#skills .heading h2 {
    color: #FADF94;
}
#skills .progress {
    height: 45px;
    margin: 30px 20px;
}
#skills .progress:last-child {
    margin-bottom: 0px;
}
#skills .progress-bar {
    background-color: #FADF94;
}
#skills .progress-bar h5 {
    text-shadow: 1px 1px 1px #000;
    margin-bottom: 3px;
}

/* EXPERIENCE */
#experience {
    background-color: #FADF94;
}
#experience .heading h2 {
    color: white;
}
.timeline {
    padding: 30px 10px;
    position: relative;
}
.timeline:before {
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline li .timeline-badge {
    color: #FADF94;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}
.timeline-panel:after {
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4 {
    color: #FADF94;
}

/* EDUCATION */
#education .heading h2 {
    color: #FADF94;
    margin: 15px 0px;
}
.education-block {
    width:90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #e9ecef;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.education-block h5 {
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.education-block span {
    font-size: 35px;
}
.education-block h3 {
    color: #FADF94;
    margin: 15px 0px;
}
.education-block h4 {
    margin-bottom: 20px;
    font-weight: normal;
 }

 /* PORTFOLIO */
 .portfolio {
     background-color:#FADF94;
 }
 .portfolio .heading h2 {
    color: white;
}
.portfolio img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.portfolio img:hover {
     filter: none;
    -webkit-filter: none;
}
.portfolio .col-md-4 {
    margin-bottom: 20px;
}
/* FOOTER */
footer {
    background-color: #333;
    padding: 20px 0 40px;
}
footer span {
    color: #FADF94;
    font-size: 25px;
    line-height: 35px;
}
footer span:hover {
    font-size: 27px;
}
footer h5 {
    color: white;
    font-weight: normal;
}
/* MEDIA QUERIES */
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

}
.portfolio-detail{
    display: none;
}
.portfolio-detail.active{
    display: block;
}
.portfolio-box .numb{
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--white-color);
    color: transparent;
    line-height: 1;
}
.portfolio-box h3{
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
}
.portfolio-box p{
    font-size: 1.6rem;
}
.portfolio-box .tech{
    margin: 2rem 0;
    color: white;
    border-bottom: .1rem solid var(--white-color);
    padding-bottom: 2rem;
}
.portfolio-box .github a{
    position: relative;
    display: inline-flex;
    padding: 1.3rem;
    font-size: 3rem;
    color: var(--white-color);
    border-radius: 50%;
    background: var(--second-bg-color);
    transition: .5s;
}
.portfolio-box .github a:hover{
    color: #FADF94;
}
.portfolio-box .github a:first-child{
    margin-right: 1.5rem;

}
.portfolio-box .github a span{
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.6rem;
    white-space: nowrap;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    background: var(--white-color);
    color: var(--bg-color);
    opacity: 0;
    scale: .9;
    transition: .2s;
}
.portfolio-box .github a:hover  span{
    top: -70%;
    opacity: 1;
    scale: 1;
}
.portfolio-box .portfolio-carousel{
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
}
.portfolio-carousel .img-slide{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
}

.portfolio-carousel .img-item{
    height: inherit;
}
.portfolio-carousel .img-item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
}
.portfolio-box .navigation{
    text-align: right;
    margin-top: 2rem;

}
.portfolio-box .navigation button{
    display: inline-flex;
    padding: .4rem;
    background: var(--second-bg-color);
    border: .2rem solid #FADF94;
    border-radius: .6rem;
    font-size: 4rem;
    color: #FADF94;
    cursor: pointer;
}

.portfolio-box .navigation button.disabled{
    border-color: var(--second-bg-color);
    color: var(--disabled-COLOR);
}

.portfolio-box .navigation .arrow-right{
    margin-left: 1.5rem;
}
@media  screen and (max-width: 1200px) {
    html{
        font-size: 55%;;
    }
}

@media  screen and (max-width: 992px) {
    header{
        padding: 2rem 4%;;
    }
    section{
        padding: 10rem 4% 2rem;
    }
}

@media  screen and (max-width: 810px) {
    .contact-box .field-box{
        grid-template-columns: 1fr;
    }
}
@media  screen and (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        margin: 4rem 0;
    }
    .home{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }
    .home-img .img-box{
        width: 35rem;
        height: 35rem;
    }
    .resume-container,
    .portfolio-container,
    .contact-container{
        grid-template-columns: 1fr;;
    }
    .resume-container{
        gap: 3rem;
    }
    .portfolio-container .portfolio-box:first-child{
        order: 1;
    }
    .contact-box .field-box{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media  screen and (max-width:600px) {
    .home-img .img-box{
        width: 30rem;
        height: 30rem;
    }
    .contact-box .field-box{
        grid-template-columns: 1fr;
    }

}
@media  screen and (max-width:450px){
    html{
        font-size: 50%;
    }
}
@media  screen and (max-width:400px){
    home-detail,
    .resume-box h2,
    .resume-box .heading,
    .resume-box .desc,
    .resume-detail.about .resume-item{
        text-align: center;
    }
    .home-detail .btn-sci{
        flex-direction: column-reverse;
    }
    .home-detail .btn-sci{
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .contact-box form{
        padding: 2.5rem 3rem 3.5rem;
    }
    .contact-box h2{
        font-size: 3.5rem;
    }
}
nav a.active-link {
    color: var(--main-color); /* Vert */
    font-weight: 700;

}